html {
    scroll-behavior: smooth;
}

html,
body {
    font-family: 'Barlow', sans-serif;
}

.main-container{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
	justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
}

.styled-table {
    border-collapse: collapse;
    margin: 15px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-family: 'Barlow', sans-serif;
    text-align: center;
}

.styled-table thead tr {
    background-color: #002a43;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}


.styled-table tbody tr {
    border-bottom: thin solid #dddddd;
    transition: all ease-in-out 200ms;
    -webkit-transition: all ease-in-out 200ms;
    -moz-transition: all ease-in-out 200ms;
    -ms-transition: all ease-in-out 200ms;
    -o-transition: all ease-in-out 200ms;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #ed1019;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #ed1019;
}

.styled-table tbody tr:hover {
    background-color: #90bad2;
    font-weight: bold;
}

.logo{
    margin-right: 0.25em;
}

.texto-bandeira{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.country-specific{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom{
    margin-bottom: 25px;
}

/* .styled-table-country {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-family: 'Barlow', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.styled-tbody {
display: flex;
width: 800px;
position: relative;
align-items: stretch;
border: 1px solid black;

}
.styled-tr {
flex-basis: 33.33333333%;
display: flex;
flex-wrap: wrap;
align-content: flex-start;
padding: 5px 10px;
}

/* .styled-tr + .styled-tr {
border-center: 1px solid black;
} */

.styled-th, .styled-td {
flex-basis: 100%;
text-align: center;
display: flex;
padding: 2px;
}

.styled-th {
font-weight: bold;
}

.styled-table .styled-thead .styled-tr {
    background-color: #002a43;
    color: #ffffff;
    text-align: center;
}

.styled-table .styled-th,
.styled-table .styled-td {
    padding: 12px 15px;
}

.styled-table .styled-tbody .styled-tr {
    border-bottom: thin solid #dddddd;
}

.styled-table .styled-tbody .styled-tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table .styled-tbody .styled-tr:last-of-type {
    border-bottom: 2px solid #ed1019;
}

.styled-table .styled-tbody .styled-tr.active-row {
    font-weight: bold;
    color: #ed1019;
}

#myBtn {
    /*display: none;
    */align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 25px;
    right: 400px;
    border: none;
    outline: none;
    background-color: #000e17;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 100%;
    font-size: 16px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    transition: all ease-in-out 250ms;
    -webkit-transition: all ease-in-out 250ms;
    -moz-transition: all ease-in-out 250ms;
    -ms-transition: all ease-in-out 250ms;
    -o-transition: all ease-in-out 250ms;
}

#myBtn:hover {
  background-color: black; /* Add a dark-grey background on hover */
}

.icon-bar {
position: fixed;
width: 90px; /* Set a specific width */
background-color: #555; /* Dark-grey background */
left: 400px;
}

.icon-bar a {
display: block; /* Make the links appear below each other instead of side-by-side */
text-align: center; /* Center-align text */
padding: 16px; /* Add some padding */
transition: all 0.3s ease; /* Add transition for hover effects */
color: white; /* White text color */
font-size: 36px; /* Increased font-size */
}

.icon-bar a:hover {
background-color: #000; /* Add a hover color */
}

.active {
background-color: #04AA6D; /* Add an active/current color */
}

 /* The navigation bar */
.navbar {
    display: flex;
    overflow: hidden;
    background-color: #002a43;
    position: fixed;
    /*Setthenavbartofixedposition*/top: 0;
    /*Positionthenavbaratthetopofthepage*/width: 100%;
    /*Fullwidth*/margin-bottom: 25px;
    align-items: center;
    align-content: center;
    justify-content: center;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all ease-in-out 250ms;
    -webkit-transition: all ease-in-out 250ms;
    -moz-transition: all ease-in-out 250ms;
    -ms-transition: all ease-in-out 250ms;
    -o-transition: all ease-in-out 250ms;
}

/* Change background on mouse-over */
.navbar a:hover {
background: #90bad2;
color: #000e17;
}

.navbar #src:hover {
    cursor: help;
}

/* Main content */
.main {
margin-top: 30px; /* Add a top margin to avoid content overlay */
} 

.end-logo{
    max-width: 2%;
    height: auto;
    margin-bottom: 10px;
}

.a{
    display: flex;
    align-items: center;
    justify-content: center;

}

.a:visited{
color:blue;
}

 /* Style the form element with a border around it */
 form {
border: 4px solid #f1f1f1;
margin-bottom: 25px;
}

/* Add some padding and a grey background color to containers */
.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f1f1f1;
    align-items: center;
    align-content: center;
    justify-content: center;
}

/* Style the input elements and the submit button */
input[type=text], input[type=submit] {
width: 100%;
padding: 12px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
font-family: 'Barlow', sans-serif;
text-align: center;
}

/* Add margins to the checkbox */
input[type=checkbox] {
margin-top: 16px;
}

input[type=date] {
    text-align: center;
}

/* Style the submit button */
input[type=submit] {
     background-color: #002a43;
     color: white;
     border: none;
     font-family: 'Barlow', sans-serif;
     transition: all ease-in-out 100ms;
     -webkit-transition: all ease-in-out 100ms;
     -moz-transition: all ease-in-out 100ms;
     -ms-transition: all ease-in-out 100ms;
     -o-transition: all ease-in-out 100ms;
}

input[type=submit]:hover {
opacity: 0.8;
}

input[type=date] {
    font-family: 'Barlow', sans-serif;
}

select{
    font-family: 'Barlow', sans-serif;
    text-align: center;
}

.form{
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    margin-top: 65px;
    align-content: center;
    justify-content: center;
}

#scrollToTopBtn {
    background-color: black;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 16px;
    line-height: 48px;
    width: 48px;
    position: sticky !important;
    right: 0;
}

.a-titulo{
    text-decoration: none;
    color: white;
}

.sortarrow{
    width: 2%;
    height: auto;
}

.sort-by-desc
{
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 0 3px;
    background: transparent;
    border-top: solid 7px white;
    border-bottom-width: 0;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.about {
    display: flex;
    flex-direction: column;
    text-align: center;
}